.attend-event-form {
  width: 280px;
  .price-summary {
    .price-summary-category {
      width: 130px;
      font-weight: 300;
    }
    .price-summary-result {
      width: 30px;
      font-weight: 300;
      text-align: right;
    }
    .price {
      color: #1a2434;
      font-size: 24px;
      font-weight: 700;
      text-align: right;
    }
    .submit-button {
      width: 280px;
      height: 40px;
      background: #ff0037;
      width: 280px;
      height: 32px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .success-message {
    color: green;
    font-size: 12px;
  }
}
