.stadionFET {
  width: 320px;
  background: #ffffff;
  main {
    .form-title {
      margin-top: 50px;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 700;
      line-height: 20px;
    }
    .discountin {
      width: 280px;
      h4 {
        color: #ed0433;
        font-weight: 700;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
      }
    }
    .pricetable {
      width: 280px;
    }
    h4 {
      font-weight: 700;
    }
  }
}
